In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("../datasets/nifty_500_quarterly_results.csv")

In [4]:
df.columns

Index(['name', 'NSE_code', 'BSE_code', 'sector', 'industry', 'revenue',
       'operating_expenses', 'operating_profit', 'operating_profit_margin',
       'depreciation', 'interest', 'profit_before_tax', 'tax', 'net_profit',
       'EPS', 'profit_TTM', 'EPS_TTM'],
      dtype='object')

In [5]:
df.shape

(501, 17)

In [6]:
df.head(5)

,name,NSE_code,BSE_code,sector,industry,revenue,operating_expenses,operating_profit,operating_profit_margin,depreciation,interest,profit_before_tax,tax,net_profit,EPS,profit_TTM,EPS_TTM
0,3M India Ltd.,3MINDIA,523395,GENERAL INDUSTRIALS,INDUSTRIAL MACHINERY,"1,057",847.4,192.1,18.48%,12.9,0.7,195.9,49.8,146.1,129.7,535.9,475.7
1,ACC Ltd.,ACC,500410,CEMENT AND CONSTRUCTION,CEMENT & CEMENT PRODUCTS,"4,644.8","3,885.4",549.3,12.39%,212.8,28.9,517.7,131.5,387.9,20.7,"1,202.7",64.0
2,AIA Engineering Ltd.,AIAENG,532683,GENERAL INDUSTRIALS,OTHER INDUSTRIAL GOODS,"1,357.1",912.7,382.1,29.51%,24.5,7.4,412.5,88.4,323.1,34.3,"1,216.1",128.9
3,APL Apollo Tubes Ltd.,APLAPOLLO,533758,METALS & MINING,IRON & STEEL PRODUCTS,"4,650","4,305.4",325,7.02%,41.3,26.6,276.7,73.8,202.9,7.3,767.5,27.7
4,Au Small Finance Bank Ltd.,AUBANK,540611,BANKING AND FINANCE,BANKS,"2,956.5","1,026.7",647.7,25.59%,0,"1,282.1",533.4,131.5,401.8,6.0,"1,606.2",24.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     501 non-null    object
 1   NSE_code                 501 non-null    object
 2   BSE_code                 501 non-null    object
 3   sector                   501 non-null    object
 4   industry                 501 non-null    object
 5   revenue                  500 non-null    object
 6   operating_expenses       500 non-null    object
 7   operating_profit         500 non-null    object
 8   operating_profit_margin  500 non-null    object
 9   depreciation             500 non-null    object
 10  interest                 500 non-null    object
 11  profit_before_tax        500 non-null    object
 12  tax                      500 non-null    object
 13  net_profit               500 non-null    object
 14  EPS                      500 non-null    float64
 15  profit_TTM               498 non-null    object
 16  EPS_TTM                  498 non-null    float64
dtypes: float64(2), object(15)
memory usage: 66.7+ KB

##### What are the unique sectors in the dataset?

In [8]:
unique_sectors = df.sector.unique()
print(f"Total Unique Sectors are {df.sector.nunique()} \n")
print("Unique Sectors are: \n")
print("\n".join(unique_sectors))

Total Unique Sectors are 28

Unique Sectors are:

GENERAL INDUSTRIALS
CEMENT AND CONSTRUCTION
METALS & MINING
BANKING AND FINANCE
TRANSPORTATION
UTILITIES
RETAILING
OIL & GAS
PHARMACEUTICALS & BIOTECHNOLOGY
AUTOMOBILES & AUTO COMPONENTS
DIVERSIFIED CONSUMER SERVICES
CHEMICALS & PETROCHEMICALS
FOOD BEVERAGES & TOBACCO
DIVERSIFIED
TELECOM SERVICES
CONSUMER DURABLES
REALTY
FMCG
FOREST MATERIALS
FERTILIZERS
COMMERCIAL SERVICES & SUPPLIES
SOFTWARE & SERVICES
TELECOMMUNICATIONS EQUIPMENT
HOTELS RESTAURANTS & TOURISM
TEXTILES APPARELS & ACCESSORIES
MEDIA
OTHERS
HEALTHCARE EQUIPMENT & SUPPLIES

##### What are the unique industries in the dataset?

In [9]:
unique_industries = df.industry.unique()
print(f"Total Unique Industries are {df.industry.nunique()} \n")
print("Unique Industries are: \n")
print("\n".join(unique_industries))

Total Unique Industries are 97

Unique Industries are:

INDUSTRIAL MACHINERY
CEMENT & CEMENT PRODUCTS
OTHER INDUSTRIAL GOODS
IRON & STEEL PRODUCTS
BANKS
MARINE PORT & SERVICES
ELECTRIC UTILITIES
DEPARTMENT STORES
OIL MARKETING & DISTRIBUTION
PHARMACEUTICALS
AUTO PARTS & EQUIPMENT
HEALTHCARE FACILITIES
AUTO TYRES & RUBBER PRODUCTS
COMMERCIAL VEHICLES
FURNITURE-FURNISHING-PAINTS
PLASTIC PRODUCTS
SPECIALTY CHEMICALS
OTHER FOOD PRODUCTS
2/3 WHEELERS
FINANCE (INCLUDING NBFCS)
HOLDING COMPANIES
SUGAR
FOOTWEAR
DEFENCE
OTHER INDUSTRIAL PRODUCTS
HEAVY ELECTRICAL EQUIPMENT
REFINERIES/PETRO-PRODUCTS
TELECOM SERVICES
OTHER TELECOM SERVICES
BIOTECHNOLOGY
TRANSPORTATION - LOGISTICS
CONSUMER ELECTRONICS
TEA & COFFEE
REALTY
PACKAGED FOODS
OTHER FINANCIAL SERVICES
HOUSING FINANCE
FOREST PRODUCTS
FERTILIZERS
COAL
PERSONAL PRODUCTS
WAREHOUSING AND LOGISTICS
HOUSEHOLD APPLIANCES
IT CONSULTING & SOFTWARE
MISC. COMMERCIAL SERVICES
HEALTHCARE SERVICES
CONSULTING SERVICES
OTHER ELECTRICAL EQUIPMENT/PRODUCTS
BPO/KPO
UTILITIES
DIVERSIFIED
SHIPPING
COMMODITY CHEMICALS
TELECOM CABLES
ALUMINIUM AND ALUMINIUM PRODUCTS
COPPER
ZINC
CIGARETTES-TOBACCO PRODUCTS
LIFE INSURANCE
ROADS & HIGHWAYS
TELECOM EQUIPMENT
HOTELS
INTERNET SOFTWARE & SERVICES
AIRLINES
IRON & STEEL/INTERM.PRODUCTS
RESTAURANTS
COMMODITY TRADING  & DISTRIBUTION
CARS & UTILITY VEHICLES
CONSTRUCTION & ENGINEERING
EXPLORATION & PRODUCTION
AGROCHEMICALS
SPECIALTY RETAIL
OTHER APPARELS & ACCESSORIES
BREWERIES & DISTILLERIES
PETROCHEMICALS
GEMS & JEWELLERY
BROADCASTING & CABLE TV
HOUSEWARE
TEXTILES
NON-ALCOHOLIC BEVERAGES
GENERAL INSURANCE
EXCHANGE
INVESTMENT COMPANIES
CARBON BLACK
INDUSTRIAL GASES
CAPITAL MARKETS
ASSET MANAGEMENT COS.
PAPER & PAPER PRODUCTS
HEALTHCARE SUPPLIES
TRAVEL SUPPORT SERVICES
EDIBLE OILS
CONTAINERS & PACKAGING
IT SOFTWARE PRODUCTS
INTERNET & CATALOGUE RETAIL
DATA PROCESSING SERVICES
MINING
MOVIES & ENTERTAINMENT

##### What is the distribution of companies across sectors?

In [10]:
df['sector'].value_counts()

sector
BANKING AND FINANCE                76
GENERAL INDUSTRIALS                39
SOFTWARE & SERVICES                39
AUTOMOBILES & AUTO COMPONENTS      36
PHARMACEUTICALS & BIOTECHNOLOGY    35
CHEMICALS & PETROCHEMICALS         33
CEMENT AND CONSTRUCTION            24
DIVERSIFIED CONSUMER SERVICES      20
UTILITIES                          20
METALS & MINING                    19
CONSUMER DURABLES                  19
FMCG                               18
TEXTILES APPARELS & ACCESSORIES    15
FOOD BEVERAGES & TOBACCO           13
COMMERCIAL SERVICES & SUPPLIES     12
RETAILING                          11
REALTY                             11
OIL & GAS                          10
HOTELS RESTAURANTS & TOURISM       10
TRANSPORTATION                      9
DIVERSIFIED                         8
TELECOM SERVICES                    6
FERTILIZERS                         6
MEDIA                               5
TELECOMMUNICATIONS EQUIPMENT        3
HEALTHCARE EQUIPMENT & SUPPLIES     2
FOREST MATERIALS                    1
OTHERS                              1
Name: count, dtype: int64

##### What is the distribution of companies across industry?

In [11]:
df['industry'].value_counts()

industry
PHARMACEUTICALS             33
BANKS                       28
AUTO PARTS & EQUIPMENT      20
IT CONSULTING & SOFTWARE    19
SPECIALTY CHEMICALS         18
                            ..
HOUSEHOLD APPLIANCES         1
AIRLINES                     1
DIVERSIFIED                  1
TELECOM EQUIPMENT            1
MOVIES & ENTERTAINMENT       1
Name: count, Length: 97, dtype: int64

##### What is the average and median value of EPS (Earnings Per Share) and EPS_TTM (Earnings Per Share - Trailing Twelve Months)?

##### How is the distribution of net profit across different sectors?

##### What is the distribution of EPS for companies in the 'Finance' sector?