In [2]:
import pandas as pd

### DataFrame

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### Series

In [4]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

### Indexing in Pandas

In [6]:
products = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
products

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [7]:
# Index-based selection
products.iloc[1]

Bob    It was awful.
Sue           Bland.
Name: Product B, dtype: object

In [8]:
# Index-based selection
products.iloc[:, 1]

Product A    Pretty good.
Product B          Bland.
Name: Sue, dtype: object

In [9]:
# Index-based selection
products.iloc[:, :]

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [10]:
# Label-based selection
products.loc['Product B', 'Sue']

'Bland.'

In [11]:
# Label-based selection
products.loc['Product A', ['Bob', 'Sue']]

Bob     I liked it.
Sue    Pretty good.
Name: Product A, dtype: object

### Renaming Columns

In [12]:
products.rename(columns={'Sue': 'Chalton'})

                     Bob       Chalton
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### Renaming Indexes

In [13]:
products.rename(index={'Product B': 'Product A + B'})

                         Bob           Sue
Product A        I liked it.  Pretty good.
Product A + B  It was awful.        Bland.

In [14]:
products.rename_axis("products", axis='rows').rename_axis("names", axis='columns')

names                Bob           Sue
products
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.